<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about" style="margin-bottom: 70px;">
    <h3 class="w3-center">ABOUT US</h3>
    <p class="w3-center"><em>WEBSITE CATCHPHRASE</em></p>
    <p>SOME BS PARAGRAPH ABOUT OUR WEBSITE</p>
</div>
<!-- Footer -->
<div>
    <footer class="w3-black w3-opacity w3-hover-opacity-off" style="margin-bottom: 0; overflow: hidden;">
        <p class="w3-center">Not sure what to include here</p>
    </footer>
</div>

<link rel="stylesheet" href="/static/index.css?{% now 'U' %}"/>
    <link rel="stylesheet" href="/static/global.css?{% now 'U' %}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">